.socialmenu {
  display: flex;
  gap: var(--size-3);
}

.socialmenu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;

  &:hover {
    & > .icon--fill {
      fill: var(--red-1);
    }
  }
}
