.tags {
  display: flex;
  gap: var(--size-2);
  margin-top: var(--size-4);
}

.tag__link {
  font-size: 0.9em;
  color: var(--gray-3);
  border:1px solid var(--gray-5);
  border-radius: 0.5rem;
  padding: var(--size-1) var(--size-2);
}
