<footer class="footer">
  <div class="footer__content">
		<nav class="footer__nav" aria-label="Navigation secondaire">
			<ul class="footer__items">
				{{ range .Site.Menus.footer }}
				<li class="footer__item ">
					{{ $href := .URL }}
					{{ if eq .Identifier "mailto" }}
					{{ $href = printf "mailto:%s" $.Site.Params.contact_email }}
					{{ end }}
					<a class="footer__link secondary" href="{{ $href }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
			<p class="footer__baseline">{{ i18n "footer.baseline" | safeHTML }}</p>
			<nav class="language-switcher" aria-label="Sélecteur de langues">
				<i class="icon icon--small" data-lucide="languages"></i>
				<ul class="language-switcher__items">
					{{/*
					If we have translations of this page, we display links to them.
					Else, we link to the home page of different languages available.
					*/}}
					{{ if .IsTranslated }}
						{{ range .Translations }}
							<li class="language-switcher__item">
								<a class="secondary" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
							</li>
						{{ end }}
					{{ else }}
						{{ $currentLanguage := .Site.Language.Lang }}
						{{ range $.Site.Home.AllTranslations }}
							{{ if ne $currentLanguage .Language.Lang }}
								<li class="language-switcher__item">
									<a class="secondary" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
								</li>
							{{ end }}
						{{ end }}
					{{ end }}
				</ul>
			</nav>
		</nav>
  </div>
</footer>

{{ $lucideJs := resources.Get "js/lucide.js" | js.Build }}
<script src="{{ $lucideJs.RelPermalink }}"></script>

{{ $headerJs := resources.Get "js/header.js" | js.Build }}
<script src="{{ $headerJs.RelPermalink }}"></script>
