<header class="header">
  <div class="header__content">
    <div class="header__logo">
      <a href="{{ relref . "/" }}">
        <svg class="logo">
          <title>Clément Biron logo</title>
          <use xlink:href="#logo"></use>
        </svg>
      </a>
    </div>
    <nav class="header__menus" aria-label="Navigation principale">
      <ul class="primarymenu">
        {{ range .Site.Menus.header }}
          <li class="primarymenu__item">
            {{ $href := .URL }}
            {{ if eq .Identifier "mailto" }}
              {{ $href = printf "mailto:%s" $.Site.Params.contat_email }}
            {{ end }}
            <a class="primarymenu__link" href="{{ $href }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
      <ul class="socialmenu">
        <li class="socialmenu__item">
          <a class="socialmenu__link" href="{{ .Param "mastodon.url" }}" target="_blank">
            {{ partial "simple-icons.html" (dict "icon" "mastodon" "class" "icon--small icon--fill" )}}
          </a>
        </li>
        <li class="socialmenu__item">
          <a class="socialmenu__link" href="{{ .Param "linkedin.url" }}" target="_blank">
            {{ partial "simple-icons.html" (dict "icon" "linkedin" "class" "icon--small icon--fill" )}}
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__open-link">
      <i class="icon icon--red" data-lucide="menu"></i>
    </div>
    <div class="header__close-link">
      <i class="icon icon--red" data-lucide="x"></i>
    </div>
  </div>
</header>
